@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(./defaults.css);
@import url(./constants.css);

.layout {
  max-width: 960px;
  padding: 1.25rem;
  margin: 0 auto;
}

.layout:not(:last-child) {
  padding-bottom: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* HEADER */

.nav {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.link-list {
  list-style: none;
}

.link-list__item {
  display: inline-block;
}

.dropdown {
  display: inline-flex;
  gap: 1.25rem;
  align-items: inherit;
}

.dropdown__inner {
  position: absolute;
}

/* IMAGE SLIDER */

.image-slider {
  max-width: 425px;
  display: grid;
  gap: 1.5rem;
  margin: auto;
}

.image-slider__wrapper {
  max-height: 33vh;
  position: relative;
}

.image-slider__controls {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: 0ms transform;
  padding: 0 1rem;
}

.image-slider__controls :last-child {
  float: right;
}

.image-slider__preview {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

.image-slider__preview>* {
  width: inherit;
  height: inherit;
  display: block;
  object-fit: cover;
}

.image-slider__thumbs {
  --thumbs_gap: .5rem;
  --thumbs_max-items: 4;
  --thumbs_gaps-count: calc(var(--thumbs_max-items) - 1);
  --thumbs_gap-mult: calc(var(--thumbs_gaps-count) / var(--thumbs_max-items));
  --thumbs-item_offset: calc(var(--thumbs_gap) * var(--thumbs_gap-mult));
  --thumbs-item_width: calc(100% / var(--thumbs_max-items) - var(--thumbs-item_offset));

  /* display: flex; */
  display: none;
  gap: var(--thumbs_gap);
  overflow-x: auto;
}

.image-slider__thumbs>* {
  min-width: 48px;
  min-height: 48px;
  flex: var(--thumbs-item_width) 0 0;
  border-radius: .5rem;
  overflow: hidden;
}

.image-slider__thumbs>[data-active="true"] {
  border: 2px solid var(--color_primary_orange-500);
}

.image-slider__thumbs>*>* {
  display: block;
  width: 100%;
  height: 100%;
}

.image-slider__thumbs>[data-active="true"]>* {
  opacity: .6;
}

/* COPY */

.copy__caption {
  color: var(--color_primary_orange-500);
  font: var(--font_caption);
  letter-spacing: .125em;
  text-transform: uppercase;
  display: block;
}

.copy__heading {
  color: var(--color_neutral_blue-100);
  font: var(--font_heading);
}

.copy__paragraph {
  color: var(--color_neutral_blue-300);
  font: var(--font_paragraph);
}

.copy__header+*,
.copy__paragraph+.copy__paragraph {
  margin-top: .75rem;
}

.copy__heading+.copy__paragraph {
  margin-top: 1em;
}

/* PRICE TAG */

.price-tag {
  display: flex;
  gap: 1rem;
  align-items: center;
}

*+.price-tag {
  margin: .5rem auto;
}

.price-tag__discount-percentage {
  background-color: var(--color_primary_orange-900);
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.price-tag__original-price {
  color: var(--color_neutral_blue-500);
  flex: 1;
}

.price-tag .copy__caption {
  font-size: 1rem;
  letter-spacing: unset;
}

.price-tag__original-price>.copy__caption {
  color: revert;
  float: right;
  text-decoration: line-through;
}

/* ITEM COUNT */

.item-count {
  display: grid;
}

.item-count>* {
  padding: .25rem;
  box-sizing: content-box;
}

.item-count>*+* {
  margin-top: 1rem;
}

.item-count__wrapper {
  background-color: var(--color_neutral_blue-900);
  display: flex;
  border-radius: .5rem;
}

.item-count__input {
  background-color: unset;
  font: inherit;
  font-weight: 700;
  text-align: center;
  flex: 1;
}

.item-count__wrapper>button {
  display: inherit;
  align-items: center;
  justify-content: center;
}

/* BUTTON */

.button {
  min-width: 48px;
  min-height: 48px;
  border-radius: .5rem;
  font-weight: bold;
}

.button--round {
  background-color: var(--color_neutral_white);
  aspect-ratio: 1 / 1;
  padding: 0 1rem;
  border-radius: 50%;
}

.button--with-icon {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.button--accent {
  color: var(--color_neutral_white);
  fill: var(--color_neutral_white);
  background-color: var(--color_primary_orange-500);
  box-shadow: 0px 8px 16px 0px var(--color_primary_orange-500_33)
}