@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "./defaults.css";
@import "./constants.css";
@import "./queries.css";

.layout {
  max-width: var(--layout_max-width);
  padding: var(--layout_padding);
  margin: 0 auto;
}

.layout:not(:last-child) {
  padding-bottom: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* HEADER */

.header__avatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid;
  border-color: transparent;
}

.nav {
  min-height: var(--header_min-height);
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.nav__wrapper {
  z-index: 3;
}

.link-list {
  list-style: none;
}

.dropdown {
  display: inline-flex;
  align-items: inherit;
  position: relative;
}

.dropdown__inner {
  height: 100px;
  position: absolute;
  top: 100%;
  z-index: 2;
}

.dropdown__widget {
  background-color: var(--color_neutral_white);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 0.1);
  display: grid;
}

.dropdown__placeholder {
  display: none;
  min-height: 144px;
}

.dropdown__placeholder > .copy__paragraph {
  margin: auto;
  font-weight: 600;
}

.dropdown__widget[data-has-items="false"] > .cart-dropdown {
  display: none;
}

.dropdown__widget[data-has-items="false"] > .dropdown__placeholder {
  display: grid;
}

.dropdown__widget > * {
  padding: var(--layout_padding);
}

.dropdown__widget > :nth-child(2) {
  border-bottom: 1px solid var(--color_neutral_blue-500_50);
}

.dropdown__widget > :last-child {
  padding: 0;
  margin-top: 0;
  margin: var(--layout_padding);
}

.cart-dropdown__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cart-dropdown__item > .copy {
  flex: 1;
}

.cart-dropdown__item + .cart-dropdown__item {
  padding-top: 1rem;
}

.cart-dropdown__delete {
  min-width: 48px;
  min-height: 48px;
  margin-left: -1rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  fill: #c3cad9;
}

.cart-dropdown__delete:hover {
  fill: rgb(200 50 50);
  background-color: rgb(0 0 0 / 0.025);
}

/* COPY */

.copy__caption {
  color: var(--color_primary_orange-500);
  font: var(--font_caption);
  letter-spacing: 0.125em;
  text-transform: uppercase;
  display: block;
}

.copy__heading {
  color: var(--color_neutral_blue-100);
}

.copy__heading--primary {
  font: var(--font_heading-primary);
}
.copy__heading--secondary {
  font: var(--font_heading-secondary);
  line-height: 1.5;
}

.copy__paragraph {
  color: var(--color_neutral_blue-300);
  font: var(--font_paragraph);
}

.copy__header + *,
.copy__paragraph + .copy__paragraph {
  margin-top: 0.75rem;
}

.copy__heading + .copy__paragraph {
  margin-top: 1em;
}

/* PRICE TAG */

.price-tag {
  display: flex;
  gap: 1rem;
  align-items: center;
}

* + .price-tag {
  margin: 0.5rem auto;
}

.price-tag__discount-percentage {
  background-color: var(--color_primary_orange-900);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.price-tag__original-price {
  color: var(--color_neutral_blue-500);
  flex: 1;
}

.price-tag .copy__caption {
  font-size: 1rem;
  letter-spacing: unset;
}

.price-tag__original-price > .copy__caption {
  color: revert;
  float: right;
  text-decoration: line-through;
}

/* ITEM COUNT */

.item-count {
  display: grid;
}

.item-count > * {
  padding: 0.25rem;
  box-sizing: content-box;
}

.item-count > * + * {
  margin-top: 1rem;
}

.item-count__wrapper {
  background-color: var(--color_neutral_blue-900);
  display: flex;
  border-radius: 0.5rem;
}

.item-count__input {
  background-color: unset;
  font: inherit;
  font-weight: 700;
  text-align: center;
  flex: 1;
}

.item-count__wrapper > button {
  display: inherit;
  align-items: center;
  justify-content: center;
}

/* BUTTON */

.button {
  min-width: 48px;
  min-height: 48px;
  border-radius: 0.5rem;
  font-weight: bold;
}

.button--round {
  background-color: var(--color_neutral_white);
  aspect-ratio: 1 / 1;
  padding: 0 1rem;
  border-radius: 50%;
}

.button--with-icon {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.button--accent {
  color: var(--color_neutral_white);
  fill: var(--color_neutral_white);
  background-color: var(--color_primary_orange-500);
  box-shadow: 0px 8px 16px 0px var(--color_primary_orange-500_33);
}

button:hover > .header__avatar {
  border-color: var(--color_primary_orange-500);
}

/* CART COUNTER */

#cart-counter {
  display: none;
}

.cart-counter {
  position: relative;
}

.cart-counter__wrapper {
  color: var(--color_neutral_white);
  background-color: var(--color_primary_orange-500);
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1;
  border-radius: 0.5rem;
  width: max-content;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  padding: 0.125rem 0.5rem;
}
