#root {
    max-width: 960px;
    padding: 0 .5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
}

button {
    background-color: unset;
}

.sr-only {
    width: 1px;
    height: 1px; 
    position: absolute;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.no-overflow {
    overflow-x: hidden;
}

.image-slider {
    max-width: 425px;
    display: grid;
    gap: 1.5rem;
}

.image-slider__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.image-slider__controls {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    padding: 0 1rem;
}

.image-slider__controls :last-child {
    float: right;
}

.image-slider__preview {
    width: 100%;
    height: 100%;
    user-select: none;
}

.image-slider__preview > * {
    width: inherit;
    height: inherit;
    display: block;
    object-fit: cover;
}

.image-slider__thumbs {
    --thumbs_gap: .5rem;
    --thumbs_max-items: 4;
    --thumbs_gaps-count: calc(var(--thumbs_max-items) - 1);
    --thumbs_gap-mult: calc(var(--thumbs_gaps-count) / var(--thumbs_max-items));
    --thumbs-item_offset: calc(var(--thumbs_gap) * var(--thumbs_gap-mult));
    --thumbs-item_width: calc(100% / var(--thumbs_max-items) - var(--thumbs-item_offset));

    max-width: 425px;
    display: flex;
    gap: var(--thumbs_gap);
    overflow: auto;
}

.image-slider__thumbs > * {
    min-width: 48px;
    min-height: 48px;
    flex: var(--thumbs-item_width) 0 0;
    border-radius: .5rem;
    overflow: hidden;
}

.image-slider__thumbs > [data-active="true"] {
    border: 2px solid;
}

.image-slider__thumbs > * > * {
    display: block;
    width: 100%;
    height: 100%;
}

.image-slider__thumbs > [data-active="true"] > * {
    opacity: .6;
}